:root {
    --gap: 24px;
    --content-gap: 20px;
    --nav-width: 1024px;
    --main-width: 720px;
    --header-height: 60px;
    --footer-height: 60px;
    --radius: 8px;
    /* variables of hugo-PaperMod */
    /* some values are changed compared to upstream */
    --theme:          rgb(245, 245, 245); /* background */
    --entry:          rgb(255, 255, 255);
    --primary:        rgb( 30,  30,  30); /* foreground (heading, menu etc) */
    --secondary:      rgb(108, 108, 108);
    --tertiary:       rgb(214, 214, 214);
    --content:        rgb( 31,  31,  31); /* foreground (content) */
    --hljs-bg:        rgb( 28,  29,  33);
    --code-bg:        var(--some-grey);     /* code block */
    --border:         var(--some-grey);
    /* custom variables */
    --link:           rgb(163,  31,  52);
    --warning:        rgb( 67,   0, 255);
    --some-grey:      rgb(214, 214, 214);
    --code-bg-inline: var(--some-grey);     /* inline code */
    --toc-bg:         var(--some-grey);
    --button:         var(--some-grey);
}

.dark {
    /* variables of hugo-PaperMod */
    /* some values are changed compared to upstream */
    --theme:          rgb( 29,  30,  32); /* background */
    --entry:          rgb( 46,  46,  51);
    --primary:        rgb(218, 218, 219); /* foreground (heading, menu etc) */
    --secondary:      rgb(155, 156, 157);
    --tertiary:       rgb( 65,  66,  68);
    --content:        rgb(196, 196, 197); /* foreground (content) */
    --hljs-bg:        rgb( 46,  46,  51);
    --code-bg:        var(--some-grey);     /* code block */
    --border:         var(--some-grey);
    /* custom variables */
    --link:           rgb(131, 140, 255);
    --warning:        rgb(255, 106, 106);
    --some-grey:      rgb( 43,  43,  43);
    --code-bg-inline: var(--some-grey);     /* inline code */
    --toc-bg:         var(--some-grey);
    --button:         var(--some-grey);
}

.list {
    background: var(--theme);
}

.dark.list {
    background: var(--theme);
}
