<div class="social-icons">
    {{- range . }}
    {{- if (eq .name "StackOverflow") -}}
    <a href="{{ trim .url " " }}" rel="noopener noreferrer me" title="Stack Overflow">
        {{ partial "svg.html" . }}
    </a>
    {{- else -}}
    <a href="{{ trim .url " " }}" rel="noopener noreferrer me" title="{{ (.title | default .name) | title }}">
        {{ partial "svg.html" . }}
    </a>
    {{- end -}}
    {{- end }}
</div>
